Release
/CodeBlocks/CodeBlocks.layout
Debug
/VisualStudio_Intel/VisualStudio_Intel/*.user
/VisualStudio_Intel/VisualStudio_Intel/*.result
/VisualStudio_Intel/VisualStudio_Intel/*.probe
/VisualStudio_Intel/VisualStudio_Intel/*.res
*.probe
NumberOfIterationsToConverge.dat
Log_CEOS.txt
Log_CEOS_CHECKER.txt
*.hwascii
